---
---

//
// IMPORTS
//

// @import "reset";
// @import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

// html {
//   font-size: 100%;
// }

// body {
// 	background: $black;
//   font: 18px/1.4 $helvetica;
//   color: $darkGray;
// }

// .container {
//   margin: 0 auto;
//   max-width: 740px;
//   padding: 0 10px;
//   width: 100%;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-family: $helveticaNeue;
//   color: $white;
//   font-weight: bold;

//   line-height: 1.7;
//   margin: 1em 0 15px;
//   padding: 0;

//   @include mobile {
//     line-height: 1.4;
//   }
// }

// h1 {
//   font-size: 30px;
//   a {
//     color: inherit;
//   }
// }

// h2 {
//   font-size: 24px;
// }

// h3 {
//   font-size: 20px;
// }

// h4 {
//   font-size: 18px;
//   color: $white;
// }

// p {
//   margin: 15px 0;
// }

// a {
//   color: $blue;
//   text-decoration: none;
// 	cursor: pointer;
//   &:hover, &:active {
//     color: $blue;
//   }
// }

// ul, ol {
//   margin: 15px 0;
//   padding-left: 30px;
// }

// ul {
//   list-style-type: disc;
// }

// ol {
//   list-style-type: decimal;
// }

// ol ul, ul ol, ul ul, ol ol {
//   margin: 0;
// }

// ul ul, ol ul {
//   list-style-type: circle;
// }

// em, i {
//   font-style: italic;
// }

// strong, b {
//   font-weight: bold;
// }

// img {
//   max-width: 100%;
// }

// // Fixes images in popup boxes from Google Translate
// .gmnoprint img {
//   max-width: none;
// }

// .date {
//   font-style: italic;
//   color: $gray;
// }

// // Specify the color of the selection
// ::-moz-selection {
//   color: $black;
//   background: $lightGray;
// }
// ::selection {
//   color: $black;
//   background: $lightGray;
// }

// // Nicolas Gallagher's micro clearfix hack
// // http://nicolasgallagher.com/micro-clearfix-hack/
// .clearfix:before,
// .clearfix:after {
//     content: " ";
//     display: table;
// }

// .clearfix:after {
//     clear: both;
// }

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

// .wrapper-masthead {
//   margin-bottom: 50px;
// }

// .masthead {
//   padding: 20px 0;
//   border-bottom: 1px solid $lightGray;

//   @include mobile {
//     text-align: center;
//   }
// }

// .site-avatar {
//   float: left;
//   width: 70px;
//   height: 70px;
//   margin-right: 15px;

//   @include mobile {
//     float: none;
//     display: block;
//     margin: 0 auto;
//   }

//   img {
//     border-radius: 5px;
//   }
// }

// .site-info {
//   float: left;

//   @include mobile {
//     float: none;
//     display: block;
//     margin: 0 auto;
//   }
// }

// .site-name {
//   margin: 0;
//   color: $white;
//   cursor: pointer;
//   font-family: $helveticaNeue;
//   font-weight: 300;
//   font-size: 28px;
//   letter-spacing: 1px;
// }

// .site-description {
//   margin: -5px 0 0 0;
//   color: $gray;
//   font-size: 16px;

//   @include mobile {
//     margin: 3px 0;
//   }
// }

// nav {
//   float: right;
//   margin-top: 23px; // @TODO: Vertically middle align
//   font-family: $helveticaNeue;
//   font-size: 18px;

//   @include mobile {
//     float: none;
//     margin-top: 9px;
//     display: block;
//     font-size: 16px;
//   }

//   a {
//     margin-left: 20px;
//     color: $white;
//     text-align: right;
//     font-weight: 300;
//     letter-spacing: 1px;

//     @include mobile {
//       margin: 0 10px;
//       color: $blue;
//     }
//   }
// }

//
// .main
//

// .posts > .post {
//   padding-bottom: 2em;
//   border-bottom: 1px solid $lightGray;
// }

// .posts > .post:last-child {
//   padding-bottom: 1em;
//   border-bottom: none;
// }

// .post {
//   blockquote {
//     margin: 1.8em .8em;
//     border-left: 2px solid $gray;
//     padding: 0.1em 1em;
//     color: $gray;
//     font-size: 22px;
//     font-style: italic;
//   }

//   .comments {
//     margin-top: 10px;
//   }

//   .read-more {
//     text-transform: uppercase;
//     font-size: 15px;
//   }
// }

// .wrapper-footer {
//   margin-top: 50px;
//   border-top: 1px solid #ddd;
//   border-bottom: 1px solid #ddd;
//   background-color: $lightGray;
// }

// footer {
//   padding: 20px 0;
//   text-align: center;
// }

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
// @import "highlights";
// @import "svg-icons";

---
---
//
// IMPORTS
//
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $black;
  font: 15px/1.5 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $white;
  font-weight: bold;
  line-height: 1.6;
  margin: 1em 0 15px;
  padding: 0;
  
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 24px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  color: $white;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 15px 0;
  font-size: 15px;
}

a {
  color: $crimson;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
  
  &:hover, &:active {
    color: $darkRed;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
  font-size: 15px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: $white;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  font-size: 14px;
}

// Specify the color of the selection
::-moz-selection {
  color: $pureWhite;
  background: $darkRed;
}

::selection {
  color: $pureWhite;
  background: $darkRed;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background: $charcoal;
  border-bottom: 1px solid $darkRed;
}

.masthead {
  padding: 20px 0;
  
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  img {
    border-radius: 5px;
    border: 2px solid $lightGray;
    transition: border-color 0.2s ease;
    
    &:hover {
      border-color: $darkRed;
    }
  }
}

.site-info {
  float: left;
  
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  transition: color 0.2s ease;
  
  &:hover {
    color: $crimson;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 14px;
  
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: $helveticaNeue;
  font-size: 15px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 14px;
  }
  
  a {
    margin-left: 20px;
    color: $white;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    
    @include mobile {
      margin: 0 10px;
      color: $crimson;
    }
    
    &:hover {
      color: $crimson;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 3px solid $darkRed;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 18px;
    font-style: italic;
    background: $charcoal;
  }
  
  .comments {
    margin-top: 10px;
  }
  
  .read-more {
    text-transform: uppercase;
    font-size: 13px;
    color: $crimson;
    font-weight: bold;
    letter-spacing: 0.5px;
    
    &:hover {
      color: $darkRed;
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $darkRed;
  border-bottom: 1px solid $darkRed;
  background-color: $charcoal;
}

footer {
  padding: 20px 0;
  text-align: center;
  color: $gray;
  font-size: 14px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
